# === Entorno Virtual ===
venv/
.venv/
env/
ENV/

# === Caché de Python (Limpia la carpeta app) ===
**/__pycache__/
**/*.py[cod]
*$py.class
**/.pytest_cache/

# === Base de Datos y Persistencia ===
*.db
*.sqlite3
instance/

# === Configuración y Logs ===
.env
.flaskenv
*.log

# === Archivos de Sistema / IDE ===
.vscode/
.idea/
.DS_Store
Thumbs.db
*.bak
*.tmp
